<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UMengDiyShare.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>154A13171D328B16001E47F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>154A13301D328B17001E47F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>154A133B1D328B17001E47F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
